<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Api\AccountManagementInterface"
                type="SableSoft\Phone\Model\AccountManagement" />
    <preference for="Magento\Customer\Block\Form\Register"
                type="SableSoft\Phone\Block\Form\Register"/>
    <preference for="Magento\Customer\Block\Form\Edit"
                type="SableSoft\Phone\Block\Form\Edit"/>
    <preference for="Magento\Customer\Controller\Account\CreatePost"
                type="SableSoft\Phone\Model\Controller\AccountCreatePost"/>
    <preference for="Magento\Customer\Controller\Account\EditPost"
                type="SableSoft\Phone\Model\Controller\AccountEditPost"/>
</config>
